package templates

templ Page(title string) {
	<!DOCTYPE html>
	<html lang="en">
		<head>
			<meta charset="UTF-8"/>
			<meta name="viewport" content="width=device-width, initial-scale=1"/>
			<link rel="stylesheet" href="/assets/css/app.css"/>
			<script defer src="/assets/js/htmx.min.js"></script>
			<script defer src="/assets/js/app.js"></script>
			<title>{ title }</title>
		</head>
		<body>
			{ children... }
		</body>
	</html>
}
